@model kairh_admin.Models.negocio

@{
    ViewBag.Title = "Negocio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    Layout = null;
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="modal-header">
            <table cellpadding="5">
                <tr>
                    <td >
                        <img src=@Model.profileImage class="img-fluid img-thumbnail" width="80" alt="">
                    </td>
                    <td>
                        <h5 class="modal-title" style="color: #00ADEF">@Model.nombreComercial.ToString()</h5>
                        <p style="color: gray">@Model.descripcion.ToString()</p>
                    </td>
                </tr>
            </table>
        </div>

        <div class="modal-body">

            @Html.HiddenFor(model => model.idnegocio, new { Value = Model.idnegocio })

            <strong>
                Estatus:
                <select class="form-control" name="estatus">
                    @if (Model.Estatus.ToLower().Equals("activo"))
                    {
                        <option value="Activo" selected>Activo</option>
                        <option value="Inactivo">Inactivo</option>
                        <option value="Revisar">Revisar</option>
                    }
                    else
                    {
                        <option value="Activo">Activo</option>
                        if (Model.Estatus.ToLower().Equals("inactivo"))
                        {
                            <option value="Inactivo" selected>Inactivo</option>
                            <option value="Revisar">Revisar</option>
                        }
                        else
                        {
                            <option value="Inactivo">Inactivo</option>
                            if (Model.Estatus.ToLower().Equals("revisar"))
                            {
                                <option value="Revisar" selected>Revisar</option>
                            }
                            else
                            {
                                <option value="Revisar">Revisar</option>
                            }
                        }
                    }
                </select>
            </strong>
                <!--<table>
    <tr>
        <td>
        </td>
        <td>
            <strong>-->
                @*@Html.LabelFor(model => model.estatus, htmlAttributes: new { @class = "control-label col-md-2" })*@

                @*<p>*@
                @*</p>*@
                <!--</strong>
            </td>
        </tr>
    </table>-->
</div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            <input id="resultado" type="submit" value="Guardar" class="btn btn-success" />
        </div>

    </div>
}

@*@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}*@
