@{
    ViewData["Title"] = "Home Page";
}

<div align="center">
    <br />
    <br />
    <h2 class="display-4">¡Bienvenido!</h2>
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
    <br />
    <img src="~/img/kair2.jpeg" class="rounded d-block" width="40%" alt="...">
</div>
